body {
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.content-container {
    max-width: 800px;
    margin: 1rem auto; /* Centering content horizontally */
}
.video-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
h1 {
    margin-top: 50px;
    margin-bottom: 40px;
}
h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}
h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
